.wrapper
  = render 'shared/left_chat'
  .main-chat
    .main-chat__main-header
      .main-chat__main-header-box
        .main-chat__main-header-group
          = @group.name
        .main-chat__main-header-menber
          = 'Member:'
          - @group.users.each do |user|
            = user.name
      .main-chat__edit-btn
        = link_to 'Edit', edit_group_path(@group), class: 'btn'
    .main-chat__main-contents
      = render partial: 'message', collection: @messages
    .main-chat__form
      .main-chat__input-box
        = form_for [@group, @message] do |f|
          = f.text_field :text, class: 'form__message', placeholder: 'type a message'
          .main-chat__form-image
            = f.label :image, class: 'main-chat__form__image' do
              = fa_icon 'image'
              = f.file_field :image, class: 'hidden'
          = f.submit 'Send', class: 'submit-btn'
